.about{
    max-width: 900px;
    margin: 0 auto;
    
}
.store{
    max-width: 900px;
    margin: 0 auto;
    
}

.photo1 {

        width: 148px;
        float: left;
        margin-left: -14px;
        border-radius: 50%;
}